# venv
project
venv
cuda
arch
tef
# images
Data
cats_and_dogs_small/
user_pictures
Stanford dogs.v3i.yolov11
outputfolder
cats_vs_dogs_small
cats_vs_dogs_vs_horses
Validation_data
UploadedFile
Validation
/100_pics